In [1]:
import pandas as pd
import numpy as np

In [23]:
listing = pd.read_csv("/Users/yanyu/Desktop/group project/Airbnb_Data_Sydney/listings.csv")
listing.sort_values(by = "host_id")
cal = pd.read_csv("/Users/yanyu/Desktop/group project/Airbnb_Data_Sydney/calendar.csv")
li18 = pd.read_csv("/Users/yanyu/Downloads/listings.csv")
listing.shape
cal.shape
cal.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
12276991,47886100,2022-02-05,f,"$1,051.00","$1,051.00",2.0,1125.0
12276992,47886100,2022-02-06,f,$700.00,$700.00,2.0,1125.0
12276993,47886100,2022-02-07,f,$700.00,$700.00,2.0,1125.0
12276994,47886100,2022-02-08,f,$700.00,$700.00,2.0,1125.0
12276995,47886100,2022-02-09,f,$700.00,$700.00,2.0,1125.0

In [24]:
li18.room_type == "Shared room"

0        False
1        False
2        False
3        False
4        False
         ...
38378    False
38379    False
38380    False
38381    False
38382    False
Name: room_type, Length: 38383, dtype: bool

In [29]:
newL = li18[li18.room_type == "Hotel room"]
newL.shape

(0, 16)

In [22]:
print(listing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33630 entries, 0 to 33629
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            33630 non-null  int64
 1   listing_url                                   33630 non-null  object
 2   scrape_id                                     33630 non-null  int64
 3   last_scraped                                  33630 non-null  object
 4   name                                          33618 non-null  object
 5   description                                   32367 non-null  object
 6   neighborhood_overview                         19922 non-null  object
 7   picture_url                                   33630 non-null  object
 8   host_id                                       33630 non-null  int64
 9   host_url                                      33630 non-null  object
 10  host_name                                     33596 non-null  object
 11  host_since                                    33596 non-null  object
 12  host_location                                 33559 non-null  object
 13  host_about                                    17342 non-null  object
 14  host_response_time                            13439 non-null  object
 15  host_response_rate                            13439 non-null  object
 16  host_acceptance_rate                          15518 non-null  object
 17  host_is_superhost                             33596 non-null  object
 18  host_thumbnail_url                            33596 non-null  object
 19  host_picture_url                              33596 non-null  object
 20  host_neighbourhood                            20655 non-null  object
 21  host_listings_count                           33596 non-null  float64
 22  host_total_listings_count                     33596 non-null  float64
 23  host_verifications                            33630 non-null  object
 24  host_has_profile_pic                          33596 non-null  object
 25  host_identity_verified                        33596 non-null  object
 26  neighbourhood                                 19924 non-null  object
 27  neighbourhood_cleansed                        33630 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      33630 non-null  float64
 30  longitude                                     33630 non-null  float64
 31  property_type                                 33630 non-null  object
 32  room_type                                     33630 non-null  object
 33  accommodates                                  33630 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                33598 non-null  object
 36  bedrooms                                      31421 non-null  float64
 37  beds                                          33225 non-null  float64
 38  amenities                                     33630 non-null  object
 39  price                                         33630 non-null  object
 40  minimum_nights                                33630 non-null  int64
 41  maximum_nights                                33630 non-null  int64
 42  minimum_minimum_nights                        33630 non-null  int64
 43  maximum_minimum_nights                        33630 non-null  int64
 44  minimum_maximum_nights                        33630 non-null  int64
 45  maximum_maximum_nights                        33630 non-null  int64
 46  minimum_nights_avg_ntm                        33630 non-null  float64
 47  maximum_nights_avg_ntm                        33630 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              33630 non-null  object
 50  availability_30                               33630 non-null  int64
 51  availability_60                               33630 non-null  int64
 52  availability_90                               33630 non-null  int64
 53  availability_365                              33630 non-null  int64
 54  calendar_last_scraped                         33630 non-null  object
 55  number_of_reviews                             33630 non-null  int64
 56  number_of_reviews_ltm                         33630 non-null  int64
 57  number_of_reviews_l30d                        33630 non-null  int64
 58  first_review                                  23599 non-null  object
 59  last_review                                   23599 non-null  object
 60  review_scores_rating                          22376 non-null  float64
 61  review_scores_accuracy                        22313 non-null  float64
 62  review_scores_cleanliness                     22329 non-null  float64
 63  review_scores_checkin                         22303 non-null  float64
 64  review_scores_communication                   22325 non-null  float64
 65  review_scores_location                        22303 non-null  float64
 66  review_scores_value                           22295 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              33630 non-null  object
 69  calculated_host_listings_count                33630 non-null  int64
 70  calculated_host_listings_count_entire_homes   33630 non-null  int64
 71  calculated_host_listings_count_private_rooms  33630 non-null  int64
 72  calculated_host_listings_count_shared_rooms   33630 non-null  int64
 73  reviews_per_month                             23599 non-null  float64
dtypes: float64(20), int64(21), object(33)
memory usage: 19.0+ MB
None